---
import Fecha from "../Fecha/EmpresarialFecha.astro";
interface Props{
  titulo:string;
}

const {titulo} = Astro.props;
---


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<body>
    <header class=" text-3xl font-bold pl-4 bg-blueUwu flex justify-between items-center">
        <h1 class=" text-blanquito p-7 "> {titulo}</h1>
        <div class=" p-9 flex justify-end text-blanquito">Luis 
            <span class=" pl-5">
                <div class="bi bi-caret-down-square-fill  cursor-pointer">
                    </div>
                </span>
        </div>
    </header>
