---
interface props{ //boton reutilizable
    Text:string
    id:string
}
const {Text} = Astro.props

---


<div>


    <button class="bg-color2 text-color1  mb-2 py-2 rounded w-52" >{Text}
    </button>


</div>