---
// src/components/Header.astro
---
<header class="fixed w-full bg-gradient-to-r bg-blueUwu p-4 flex justify-between items-center">
  <div class="text-white text-2xl font-bold"></div>
  <div class="flex items-center">
    <span class="text-white mr-4 text-blanco">Andalucio</span>
    <src class="bi bi-person-circle" alt="" class="w-10 h-10 rounded-full"/>
  </div>
</header>
