---
// src/components/Header.astro
---
<style>
  .header {
    @apply bg-[#322FA0] p-[20px] flex justify-between items-center ml-[250px] h-[60px];
  }
  .search-bar {
    @apply w-[300px] p-[8px] rounded-[5px] border border-[#0e0d0d];
  }
  .user-info {
    @apply flex items-center;
  }
  .user-info img {
    @apply rounded-full w-[40px] mr-[10px];
  }
</style>

<div class="header">
  <input type="text" class="search-bar" placeholder="Search" />
  <div class="user-info">
    <img src="../../public/img/avatar.png" alt="User Avatar" />
    <div>
      <h2>CarlosRG</h2>
      <p>Admin</p>
    </div>
  </div>
</div>
