<style>

@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');

*{
 
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 400;
  font-style: normal;
}

  .container {
    display: flex;
    height: 100vh;
  }
  .left-section {
    background: linear-gradient(180deg, #322FA0 0%, #F0EEF1 100%);
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
  }
  .right-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo {
    margin-bottom: 2rem;
  }
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form input {
    width: 300px;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .form button {
    width: 320px;
    padding: 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .form a {
    margin-top: 1rem;
    color: #000;
    text-decoration: none;
  }
  .form a:hover {
    text-decoration: underline;
  }
  .footer {
    margin-top: 2rem;
    font-size: 0.8rem;
    color: #888;
  }
</style>

<div class="container">
  <div class=" bg-indigo-800">
    <img src="../../public/img/Logo.png" alt="Logo" class="logo" />
    <h1 class="title">PUP</h1>
    <p>Presupuesto para una unidad productiva</p>
  </div>
  <div class="right-section">
    <h2>Iniciar sesi칩n</h2>
    <form action="/paginaPrincipal" method="POST" class="form">
      <input type="email" id="email" name="email" placeholder="Correo" required />
      <input type="password" id="password" name="password" placeholder="Contrase침a" required />
      <button type="submit">Iniciar sesi칩n</button>
      <a href="#">Olvidaste tu contrase침a?</a>
      <a href="#">Registrarse</a>
    </form>
    <p class="footer">Copyright 2024 - 2025 Sena</p>
  </div>
</div>