---

---
    <div class="flex justify-between   rounded-md bg-gris">
    <!-- lado izquierdo -->
    <!-- buscador y botones de volver y agregar productos-->
    <div class="flex row-auto items-start justify-between">
        <div class="flex">
        <button class="flex w-full bg-negro text-blanquito"
            ><span class="bi bi-arrow-left"></span>Volver</button
        >
        <button onclick="dash" class="flex justify-around bg-negro text-blanquito"
            >Nuevo <span class="bi bi-plus-circle"></span></button
        >
        <input class="flex justify-center" type="search" placeholder="Buscar" />
        </div>
        <div></div>
    </div>
    <!-- lado derecho -->
    <div class="bg-blueUwu flex justify-end w-full items-center flex-wrap">
        <!-- titulo -->
        <div class="flex justify-end bg-blueUwu w-full rounded-xl p-4">
        <h1 class="font-bold text-3xl text-blanquito">Productos</h1>
        </div>
        <!-- Sección de Productos seleccionados -->
        <div>
        <div class="Nombre bg-blanquito">
            <!-- El div para guardar los productos seleccionados -->
            <div class="flex justify-between">
            <!-- Descripcion del producto -->
            <div>
                <p class="text-blueUwu font-bold">Smartphone Honor</p>
                <p class="">1 unidades x $27.000</p>
            </div>
            <!-- Precio -->
            <div class="flex items-center">
                <p class="flex items-center text-blueUwu font-bold">$27.000</p>
            </div>
            </div>
            <!-- fin del div -->
        </div>
        </div>
    </div>
    </div>
