<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class=" bg-blue-600 font[Poppins]">
    <div class=" sidebar fixed top-8 bottom-0 lg:left-0 p-2 w-[300px] overflow-y-auto text-center bg-blueUwu">
    <div class="text-gray-100 text-xl">
        <div class="p-2.5 mt-1 flex items-center">
            <i class="bi bi-app-indicator px-2 py-1 bg-blue-600 rounded-md"></i>
            <h1 class="font-bold text-gray-200">Tailwind</h1>
            <i class="bi bi-x ml-20 cursor-pointer lg:hidden"></i>
        </div>
        <hr class="my-2 text-gray-600">
    </div>
    <div class="py-96">
        <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300  hover:bg-rosadito cursor-pointer text-blanquito">
            <i class="bi bi-house-door-fill "></i>
            <span class="text-[15px] ml-4 text-gray-200">Home</span>
        </div>
        <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300  hover:bg-rosadito cursor-pointer text-blanquito">
            <i class="bi bi-person-arms-up "></i>
            <span class="text-[15px] ml-4 text-gray-200">Personal</span>
        </div>
        <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300  hover:bg-rosadito cursor-pointer text-blanquito">
            <i class="bi bi-people-fill"></i>
            <span class="text-[15px] ml-4 text-gray-200">Familiar</span>
        </div>
        <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300  hover:bg-rosadito cursor-pointer text-blanquito">
            <i class="bi bi-buildings bg"></i>
            <span href:'/Fecha' class="text-[15px] ml-4 text-gray-200">Empresarial</span>
        </div>
    </div>
    </div>
</body>
<!-- <i class="bi bi-people-fill"></i> -->
</html>