---
import Layout from "../../layouts/Layout.astro";
import Boton from "../../icoReutilizables/boton.astro";
import Input from "../../icoReutilizables/input.astro";
---

<Layout title="">
  <head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <div class="contM justify-center flex flex-col md:flex-row ">
    <div class="contM justify-center pt-3 flex flex-col md:flex-row h-screen w-full items-center ">
      <div class="cont1 px-8 grid justify-items-center bg-blueUwu h-5/6 rounded-s-lg text-color1 flex-col items-center">
        <h1 class="font-bold text-blanquito text-2xl">PUP</h1>
        <img class="h-26 w-28" src="../../../public/img/Logo.png" alt="" />
        <p class="font-bold text-blanquito text-xl">Presupuesto para unidades productivas</p>
      </div>

      <div class="cont2 px-8 grid justify-items-center  w-auto text-color1 flex-col items-center  rounded-e-xl h-auto">
        <form id="formuInicio" class="contform" action="/home">
          <div class="conthf m-4 grid grid-flow-row sm:grid-flow-row-col gap-3 text-center bg-color3">
            <h1 class="text-2xl text-color2">Inicio sesion</h1>

            <div class="w-full">
              <Input name="" placeholder="Correo" id="inicioCorreo" type="text" />
              <span id="correoError" class="text-color7 text-xs"></span>
            </div>
            <div class="relative">
              <Input name="" placeholder="Contraseña" id="contraseñaInicio" type="password" />
              <i class='bx bx-show cursor-pointer absolute right-3 top-2/4 transform -translate-y-2/4' id="togglePassword"></i>
              <span id="contrasenaError" class="text-color7 text-xs"></span>
            </div>

            <div class="flex-col">
              <button id="abrirModal" type="submit">
                <Boton Text="Iniciar sesión" />
              </button>
              <a href="/registro">Registrarse</a>
            </div>
            <p class="text-color6 text-sm text-center">Copyright 2024 - 2025 Sena</p>
          </div>
        </form>
      </div>
    </div>
  </div>

<!-- Modal -->
<div id="modalExito" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
  <div class="bg-white p-5 rounded-md shadow-md">
    <h2 class="text-xl font-bold mb-4">¡inicio Exitoso!</h2>
    <button id="aceptarModalInicio" class="bg-blue-500 text-white px-4 py-2 rounded-md">Aceptar</button>
  </div>
</div>

  <script src="../../js/validacionesInicio.js"></script>
  <script src="../../js/envioForInicio.js"></script>
</Layout>
