---
import Boton from "../../icoReutilizables/boton.astro";
import Input from "../../icoReutilizables/input.astro";
import Layout from "../../layouts/Layout.astro";
//responsividad: flex  flex-col md:flex-row
---

<Layout title="Registro">
  <head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <div class="contM justify-center flex flex-col md:flex-row ">
    <div class="contM justify-center pt-3 flex flex-col md:flex-row h-screen w-full items-center ">
      <div class="cont1 px-8 grid justify-items-center bg-color4 h-5/6 rounded-s-lg text-color1 flex-col items-center">
        <h1 class="text-2xl font-bold">PUP</h1>
        <img class="h-26 w-28" src="../../../public/Img/Logo/logo.png" alt="" />
        <p class="text-xl font-bold">Presupuesto para unidades productivas</p>
      </div>

      <div class="cont2 px-8 grid justify-items-center w-auto text-color1 flex-col items-center rounded-e-xl h-auto">
        <form id="formu" class="contform" method="post" action="/registro">
          <div class="conthf m-4 grid grid-flow-row sm:grid-flow-row-col gap-3 text-center bg-color3">
            <h1 class="text-2xl text-color2">Registro</h1>

            <div class="w-full">
              <div>
                <Input placeholder="Nombre" id="registroNombre" name="nombre" type="text" />
                <span id="nombreError" class="text-color7 text-xs"></span>
              </div>
              <div>
                <Input placeholder="Correo" id="CorreoRegistro" name="correo" type="text" />
                <span id="correoError" class="text-color7 text-xs"></span>
              </div>
              <div class="relative">
                <Input placeholder="Contraseña" id="ContraseñaRegistro" name="contrasena" type="password" />
                <i class='bx bx-show cursor-pointer absolute right-3 top-2/4 transform -translate-y-2/4' id="togglePassword"></i>
                <span id="contrasenaError" class="text-color7 text-xs"></span>
              </div>
              <div class="relative">
                <select name="tipodocumento" id="tipodocumento" class="text-color2" required>
                  <option value="">Tipo de identificación</option>
                  <option value="Cedula de ciudadania">Cédula de ciudadanía</option>
                  <option value="Tarjeta de identidad">Tarjeta de identidad</option>
                  <option value="otro">Otro</option>
                </select>
              </div>
              <div class="relative">
                <Input placeholder="Número" id="documento" name="documento" type="text" />
                <span id="numeroDcError" class="text-color7 text-xs"></span>
              </div>
              <div class="flex-col">
                <Boton Text="Registrarse"/>
                <p class="text-color6 text-sm text-center">Copyright 2024 - 2025 Sena</p>
                <p class="text-color6 text-sm text-center">¿Ya tienes cuenta? - <a href="/inicioSesion">Inicia Sesion</a></p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="../../js/validacionesRegistro.js"></script>
  <script src="../../js/envioForRegistro.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 
  
</Layout>