    ---
    import EmpresarialFecha from "../../Fecha/EmpresarialFecha.astro";
    ---

    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <EmpresarialFecha head />
    <div class="w-full rounded-b-lg shadow-lg shadow-blueUwu flex justify-center">
        <div class="flex w-full">
        <div class="flex items-center flex-col w-full pt-7">

            <!-- Month -->

            <div class="justify- w-full flex items-center pb-7">

            <div class="flex items-center flex-row w-full justify-center">
            <div class="text-2xl font-bold pr-4">Mes:</div>
            <input class="p-2 rounded-xl shadow-inner shadow-gris" />
            </div>

            <!-- Year -->

            <div class="flex items-center flex-row w-full justify-center">
                <div class="text-2xl font-bold pr-4">Año:</div>
                <input class="p-2 rounded-xl shadow-inner shadow-gris" />
                </div>
            </div>

            <!-- Button  -->

            <button class=" px-2 p-4     bg-negro rounded-xl font-bold text-blanquito">
                Siguiente
                <i class="bi bi-arrow-right  pl-4"></i>
            </button>
        </div>
        </div>
    </div>

    <!-- <div class="">
                    <input class="bi bi-currency-dollar" > </input>
                </div> -->
    </div>
