---


import Layout from "./Layout.astro";
import Navbar from "./Navbar.astro";
import Sidebar from "../layouts/Sidebar.astro";
import Navbar1 from "../components/Sidebar.astro";
import Header from "../components/Header.astro";


interface Props{
    nombrepagina:string;
    headername:string;
    
}

const {nombrepagina,headername}= Astro.props

---

<Layout title={nombrepagina}>
<Sidebar/>
    <div class="w-full">
        <Header titulo={headername}/>
        <div class="w-full p-10">
            <slot/>
        </div>
    </div>

</Layout>
