---



import Layout from "./Layout.astro";
import Navbar from "./Navbar.astro";
import Sidebar from "./Sidebar.astro";

interface Props{
    nombrepagina:string;
    headername:string;
    
}

const {nombrepagina,headername}= Astro.props

---

<Layout title={nombrepagina}>
<Sidebar/>
    <div class="w-full">
    <Navbar titulo={headername}/>
    <div class="p-10 flex">
        <slot/>
    </div>
    </div>

</Layout>
