---
interface Props {
  titulo: string;
}

const { titulo } = Astro.props;
---

<header
  class="text-3xl font-bold pl-16 bg-blueUwu flex justify-between items-center"
>
  <h1 class="text-blanquito p-7 text-4xl">{titulo}</h1>
  <div id="nombre" class="p-9 flex justify-end text-blanquito font-bold">
    <span  class="pl-5">
      <div id="mazamorra" class="bi bi-caret-down-square-fill cursor-pointer"></div>
    </span>
  </div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const nombre = localStorage.getItem("nombre");
    // const mazamorra = localStorage.getItem("mazamorra");

    if (nombre) {
      document.getElementById("nombre").textContent = nombre;
      // document.getElementById("mazamorra").textContent = mazamorra;
    } else {
      document.getElementById("nombre").textContent = "Usuario desconocido";
    }
  });
</script>
