---
interface Props{
  titulo:string;
}

const {titulo} = Astro.props;
---

    <header
    class="text-3xl font-bold pl-16 bg-blueUwu flex justify-between items-center"
    >
    <h1 class="text-blanquito p-7 text-4xl">{titulo}</h1>
    <div id="correox" class="p-9 flex justify-end text-blanquito font-bold">
        <span class="pl-5">
        <div class="bi bi-caret-down-square-fill cursor-pointer"></div>
        </span>
    </div>
    </header>

<script>
  document.addEventListener("DOMContentLoaded", function( ){
    const correo = localStorage.getItem("correo")

    if (correo) {
      document.getElementById("correox").textContent = correo
    } else{
      document.getElementById("correox").textContent= "Usuario desconocido"
    }
  })
</script>