---
// src/components/Navbar.astro
---
<style>
    .header {
      @apply bg-[#322FA0] p-[20px] flex justify-between items-center ml-[250px] h-[60px];
    }
    .user-info {
      @apply flex items-center;
    }
    .user-info img {
      @apply rounded-full  w-[40px] mr-[10px];
    }
  </style>
  
  <div class="header  ">
    
    <div class="user-info w-full flex justify-end">
      <h2>Carlos - Admin </h2>
      <src class="bi bi-person-circle" alt=""/>
      <div>
        <p></p>
      </div>
    </div>
  </div>
  