<style>
  /* Custom Tailwind CSS classes */
  .sidebar-minimized {
    width: 4rem; /* equivalent to w-16 in Tailwind CSS */
  }
  .sidebar-minimized .sidebar-menu li a {
    display: none;
  }
  .sidebar-minimized .sidebar-menu li::before {
    content: attr(data-tooltip);
    color: white;
    display: block;
    text-align: center;
  }
  #sidebar {
    position: fixed;
    z-index: 1000;
  }
  #main-content {
    margin-left: 16rem; /* equivalent to w-64 in Tailwind CSS */
    transition: margin-left 0.3s;
  }
  .sidebar-minimized + #main-content {
    margin-left: 4rem; /* equivalent to w-16 in Tailwind CSS */
  }
</style>

<div
  id="sidebar"
  class="w-64 h-screen bg-blueUwu text-white transition-all duration-300 fixed"
>
  <div class="flex justify-end">
    <button id="toggleBtn" class="bg-none border-none text-blanquito text-2xl cursor-pointer"
      >☰</button
    >
  </div>
  <img src="../../public/img/LOGO PUP(1).png" alt="" />
  <!-- El sidebar -->
  <ul class="sidebar-menu list-none p-0">
    <!-- En data-tooltip se puede cambiar la palabra que se va colocar en el sidebar minimizado -->
    <li class="p-3.5" data-tooltip="">
      <div class="hover:bg-rosadito font-bold w-full flex items-center">
        <a href="/home" class="hover:bg-rosadito w-full text-blanquito no-underline"
          >Inicio</a
        >
      </div>
    </li>
    <li class="p-3.5" data-tooltip="">
      <div class="hover:bg-rosadito font-bold w-full flex items-center">
        <a href="/PagPresupuestosPrincipal" class="hover:bg-rosadito w-full text-blanquito no-underline"
          >Presupuesto</a
        >
      </div>
    </li>
    <li class="p-3.5" data-tooltip="">
      <div class="hover:bg-rosadito font-bold w-full flex items-center">
        <a href="/pagPresupuestoPersonal" class="hover:bg-rosadito w-full text-blanquito no-underline"
          >Personal</a
        >
      </div>
    </li>
   
    <li class="p-3.5" data-tooltip="">
      <div class="hover:bg-rosadito font-bold w-full flex items-center">
        <a href="pagPresupuestoFamiliar" class="hover:bg-rosadito w-full text-blanquito no-underline"
          >Familiar</a
        >
      </div>
    </li>
    <li class="p-3.5" data-tooltip="">
      <div class="hover:bg-rosadito font-bold w-full flex items-center">
        <a href="pagPresupuestoEmpresarial" class="hover:bg-rosadito w-full text-blanquito no-underline"
          >Empresarial</a
        >
      </div>
    </li>
    <li class="p-3.5" data-tooltip="">
      <div class="hover:bg-rosadito font-bold w-full flex items-center">
        <a
        id="cerrarSesion" 
        href="#" class="hover:bg-rosadito w-full text-blanquito no-underline"
          >Salir</a
        >
      </div>
    </li>
    <!-- <div id="main-content" class="p-4"> -->
    <!-- Aquí va el contenido principal -->
    <!-- <h1>Contenido Principal</h1>
    <p>Este es el contenido principal que se verá a la derecha del sidebar.</p>
</div> -->

    <script>
      const toggleBtn = document.getElementById("toggleBtn");
      const sidebar = document.getElementById("sidebar");
      const mainContent = document.getElementById("main-content");
      toggleBtn.addEventListener("click", () => {
        sidebar.classList.toggle("sidebar-minimized");
        mainContent.classList.toggle("sidebar-minimized");
      });
      document.getElementById("cerrarSesion").addEventListener("click", () => {
        // Eliminar los datos almacenados en localStorage
        localStorage.removeItem("nombre");
        localStorage.removeItem("id");
        localStorage.removeItem("correo");
        localStorage.removeItem("tipoDc");
        localStorage.removeItem("numeroDc");
        
        window.location.href = "/inicioSesion";
      });
    </script>
  </ul>
</div>
