---
import Boton from "../icoReutilizables/boton.astro";
import Input from "../icoReutilizables/input.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="">
    <div
        class="cont flex flex-col justify-center items-center h-screen w-full gap-6" id="modalMovimientos"
    >
        <div class="bg-blueUwu w-80 rounded">
            <h2 class="text-center">ingresos</h2>
        </div>

       <div>
        <p>Saldo</p>
        <Input placeholder="$" type="text" id="" />
        <p>Descripcion</p>
        <Input placeholder=" " type="text" id="" />
       </div>

        <div class="mt-20">
            <Boton Text="Siguiente" />
        </div>
    </div></Layout>