---
import Boton from "../icoReutilizables/boton.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="">
    

   
<button id="open-modal" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    Abrir modal
  </button>
  
 
  <div id="modal" class="cont   flex-col justify-center items-center h-screen w-full gap-6 hidden " aria-labelledby="modal-title" role="dialog" aria-modal="true">
   
    <div class="fixed flex inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
  
    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
      <div class="flex min-h-full flex-col items-center justify-center p-4 text-center sm:items-center sm:p-0">
        <div class="bg-blueUwu w-80 rounded flex justify-between">
          <h2 class="text-center text-color1" id="modal-title">Nuevo</h2>
          <button type="button" aria-label="Cerrar" id="close-modal" class="bg-white hover:bg-gray-100 text-gray-800 font-bold py-2 px-4 rounded">
            <box-icon name='x-circle' color='#ffffff' ></box-icon>
          </button>
        </div>
  
        <select class="border-2 rounded" name="" id="">
          <option value="" id="">Presupuesto</option>
          <option value="" id="">Movimientos</option>
        </select>
  
        <div class="mt-20">
          <Boton Text="Siguiente" />
        </div>
      </div>
    </div>
  </div>
  
  <script>
    const openModal = document.getElementById('open-modal');
    const closeModal = document.getElementById('close-modal');
    const modal = document.getElementById('modal');
  
    openModal.addEventListener('click', () => {
      modal.classList.remove('hidden');
    });
  
    closeModal.addEventListener('click', () => {
      modal.classList.add('hidden');
    });
  
    // Also, you can add an event to close the modal when clicking outside of it
    document.addEventListener('click', (e) => {
      if (e.target === modal) {
        modal.classList.add('hidden');
      }
    });
  </script>
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

    </Layout>
