---
import Boton from "../icoReutilizables/boton.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="">
    <div
        class="cont flex flex-col justify-center items-center h-screen w-full gap-6" id="modlaIngresosEgresos"
    >
        <div class="bg-blueUwu w-80 rounded">
            <h2 class="text-center">Nuevo</h2>
        </div>

        <select class="" name="" id="">
            <option value="">Presupuesto</option>
            <option value=""></option>
            <option value=""></option>
        </select>

        <div class="mt-20">
            <Boton Text="Siguiente" />
        </div>
    </div></Layout>