---
import ModalMovimientos from "../familiar/modalMovimientos.astro";


---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>familiar</title>
    
  </head>
  <body>
   <ModalMovimientos/>
  </body>
</html>