---
import Layout from '../layouts/Layout.astro';
import General from '../layouts/General.astro';

---

<div class="flex-end"><General  headername='Personal' nombrepagina=''></General></div>
<Layout title="Presupuestos familiar">
  
</Layout>
