---
import Layout from "../layouts/Layout.astro";
import General from "../layouts/General.astro";
---

<div class="flex-end">
    <General headername="Presupuesto familiar" nombrepagina="" />
</div>
<Layout title="">
    <div class="flex justify-center items-center h-screen">
        
        <div class="cont1 px-8 grid justify-center flex flex-col md:flex-row bg-color4 h-4/6 w-6/12 rounded text-color1 items-center">
           
                <h1 class="text-blanquito text-2xl ">Tus Presupuestos</h1>
    
            
          <ul class="w-full ">
            <li class="flex justify-between items-center">
              <span>Fecha</span>
              <box-icon name='download' color='#00000'></box-icon>
            </li>
            <li class="flex justify-between items-center mt-4">
              <span>Fecha</span>
              <box-icon name='download' color='#00000'></box-icon>
            </li>
            <li class="flex justify-between items-center mt-4">
              <span>Fecha</span>
              <box-icon name='download' color='#00000'></box-icon>
            </li>
          </ul>
        </div>
      </div>


    


   
    

</Layout>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
