---
import Layout from '../layouts/Layout.astro';
import BudgetCard from '../components/Presupuesto/BudgetCard.astro';
import General from '../layouts/General.astro';
---

<General></General>
<Layout title="Presupuestos">
  <div class="p-6 max-w-3xl mx-auto">
    <header class="flex justify-between items-center mb-6 ">
      <div class="flex items-center bg-indigo-800 rounded-full px-3 py-1">
       
      </div>
    </header>
    
    
    <div class="space-y-4 bg-griscard rounded-lg">
      <BudgetCard 
        title="Personal" 
        icon="/path-to-personal-icon.png"
        date="Fecha: Febrero 2024"
        balance="Saldo: $900000"
      />
    </div>
    <div class="space-y-4 bg-griscard rounded-lg">
      <BudgetCard 
        title="Familiar" 
        icon="/path-to-personal-icon.png"
        date="Fecha: Febrero 2024"
        balance="Saldo: $900000"
      />
    </div>
    <div class="space-y-4 bg-griscard rounded-lg">
      <BudgetCard 
        title="Empresa" 
        icon="/path-to-personal-icon.png"
        date="Fecha: Febrero 2024"
        balance="Saldo: $900000"
      />
    </div>
  </div>
</Layout>
