---
import Header from "../components/Header.astro"
import General from "../layouts/General.astro"

---
<General nombrepagina="tabla Empresarial" headername="tabla Empresarial">
    <h1>HOLA</h1>
</General>

