---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="">
    <main class="flex justify-center items-center min-h-screen text-color1">
      <div class="flex flex-col items-center w-3/5">
        <div class="flex flex-col space-y-4 w-full h-auto">
          <div class="flex justify-center w-full">
            <div class="bg-negro w-full p-4 flex items-center flex-row justify-between rounded-lg">
              <div class="flex flex-row justify-between items-center">
                <h2 class="text-white">personal</h2>
                <img src="../../public/Personal-icons.png" alt=""  class="h-20"/>
              </div>
              <div class="flex space-x-2">
                <box-icon color="#ffffff" name="plus"></box-icon>
                <box-icon color="#ffffff" name="show"></box-icon>
                <box-icon color="#ffffff" name="download"></box-icon>
              </div>
              <div>
                <h3>Fecha:febrero 2024</h3>
                <h4>Saldo:90000</h4>
              </div>
            </div>
          </div>
  
          <div class="flex justify-center w-full">
            <div class="bg-negro w-full p-4 flex items-center flex-row justify-between rounded-lg">
              <div class="flex flex-row justify-between items-center">
                <h2 class="text-white">familiar</h2>
                <img src="../../public/Familiar-icons.png" alt="" class="h-20" />
              </div>
              <div class="flex space-x-2">
                <box-icon color="#ffffff" name="plus"></box-icon>
                <box-icon color="#ffffff" name="show"></box-icon>
                <box-icon color="#ffffff" name="download"></box-icon>
              </div>
               <div>
                <h3>Fecha:febrero 2024</h3>
                <h4>Saldo:90000</h4>
              </div>
            </div>
           
          </div>
  
          <div class="flex justify-center w-full">
            <div class="bg-negro w-full p-4 flex items-center flex-row justify-between rounded-lg">
              <div class="flex flex-row justify-between items-center">
                <h2 class="text-white">empresa</h2>
                <img src="../../public/Empresarial-icons.png" alt="" class="h-20" />
              </div>
              <div class="flex space-x-2">
                <box-icon color="#ffffff" name="plus"></box-icon>
                <box-icon color="#ffffff" name="show"></box-icon>
                <box-icon color="#ffffff" name="download"></box-icon>
              </div>
              <div>
                <h3>Fecha:febrero 2024</h3>
                <h4>Saldo:90000</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </Layout>
  
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
